{{!< default}}

<div class="gh-postfeed">
    {{#foreach posts}}
        {{> "card" page=../pagination.page }}
    {{/foreach}}
</div>

<noscript>
        <div class="gh-pagination">
            {{pagination}}
        </div>
</noscript>