/* Global Header
/* ---------------------------------------------------------- */

.gh-head {
    padding: 2vmin 4vmin;
    font-size: 1.6rem;
    line-height: 1.3em;
    background: inherit;
}

.gh-head a {
    color: inherit;
    text-decoration: none;
}

.gh-head-inner {
    display: flex;
    align-items: center;
    width: 100%;
}

@media (max-width: 900px) {
    .gh-head {
        position: absolute;
        top: 2rem;
        right: 1.5rem;
        width: auto;
        padding: 0;
        z-index: 100;
        background: transparent;
    }

    .gh-head-inner {
        width: auto;
        justify-content: flex-end;
        align-items: center;
    }
}
